<a href="https://colab.research.google.com/github/mariacaseres/tps-pii-colab/blob/main/Diccionario_Pr%C3%A1ctica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [52]:
# Listas de alumnos
estudiantes_5d = [
   ("Alurralde, Solange Stefania","D","02/04/2007"),
   ("Alvarado, Ludmila Del Milagro","D","06/09/2006"),
   ("Angel, Camila Juliana","D","07/03/2007"),
   ("Arenas, Lucas Gabriel","D","26/06/2007"),
   ("Caseres, Maria Antonia","D","01/07/2006"),
   ("Castillo, Paulina Milagros","D","01/06/2007"),
   ("Correa Segovia, Hugo Mariano","D","04/12/2006"),
   ("D Elia, Alvaro Tadeo","D","27/08/2006"),
   ("Flores, Victoria Agustina","D","12/12/2006"),
   ("Geronimo Soriano, Lizzie Amaya","D","20/01/2007"),
   ("GUZMAN, ANGÉLICA MORENA","D","11/04/2007"),
   ("Guzman, Jazmin Esmeralda Belen","D","31/07/2006"),
   ("Jaime, Anita Maria Belen","D","19/04/2007"),
   ("Lacour Polo, Nazarena","D","19/12/2005"),
   ("Lascano Guanca, Marcelo Fabricio","D","17/02/2006"),
   ("Lezcano, Celia Morena","D","01/07/2005"),
   ("Martinez, Tomas Andres","D","22/03/2007"),
   ("PORTELLA VALDIVIA, PEDRO FRANCISCO","D","24/01/2007"),
   ("Retamal Cisneros, Zacarias Josue","D","24/02/2007"),
   ("Rosales, Francisco Gabriel","D","14/11/2006"),
   ("Salem Barba, Mahia","D","14/10/2005"),
   ("Soto Camara, Agustin Ignacio","D","07/11/2005"),
   ("Villalba, Irina","D","09/09/2006"),
   ("Voltolini, Emanuel Tobias","D","17/09/2006"),
   ("Zalazar, Santino Stefano","D","30/09/2006")
]

estudiantes_5c=[
    ("ABUD LASPIUR, LOURDES MARIEL","C","05/12/2006"),
    ("Amador, Luana Micaela","C","09/12/2006"),
    ("Anaquin, Leonardo Ezequiel","C","06/09/2005"),
    ("Araoz Sanchez, Lautaro Nahuel","C","28/12/2005"),
    ("Argañaraz, Agostina Abril","C","11/10/2006"),
    ("Barrera, Matias Ezequiel","C","27/02/2007"),
    ("Barrozo Vedia, Joaquin Nicolas","C","15/04/2006"),
    ("Bettinelli, Valentino","C","12/07/2006"),
    ("Bracamonte Martinez, Salvador","C","02/11/2005"),
    ("Colque Rivero, Ariana Zoe Del Valle","C","27/12/2006"),
    ("Diaz, Dulce Maitena","C","11/12/2006"),
    ("FIGUEROA, SANTINO JOSUE","C","12/05/2007"),
    ("Flores Cardozo, Agustina Tiara","C","18/03/2006"),
    ("Gallo, Octavio Ismael","C","04/08/2006"),
    ("Galvan, Lourdes Yamila","C","19/08/2005"),
    ("Giangreco, Vitto Tomasso","C","21/03/2007"),
    ("Grancara, Martina Luna","C","15/12/2006"),
    ("Guanca, Sara Elizabeth","C","17/01/2007"),
    ("Lopez, Victoria Constanza","C","12/11/2007"),
    ("Mamani Garrido, Rosario Agostina","C","24/10/2006"),
    ("Marinaro, Martin Ezequiel","C","03/11/2006"),
    ("Merluzzi Dagum, Ignacio","C","22/12/2005"),
    ("Messina, Martina","C","13/07/2005"),
    ("RASUK, KARIM", "C","13/07/2007"),
    ("Rios, Lucia Magali","C","22/09/2006"),
    ("Sanchez Flores, Matías Agustín","C","15/02/2007"),
    ("Scarano, Renato Marcelo","C","06/12/2006"),
    ("Sierra, Lucas Mauricio","C","03/04/2005"),
    ("Tapia, Martin Gabriel","C","30/05/2006"),
    ("Vilte, Mia Antonella Alondra","C","10/09/2005"),
    ("Virgillito, Katya Milena","C","19/06/2007")
]

## Dada la lista estudiantes:
> - Hacer una celda para resolver cada punto.
- El TP resuelto será revisado en tu repositorio, no es necesario que lo envíes, pero sí que lo pushees correctamente.
- En la nota inicial se contempla:
  - La incorporación de este documento a tu propio respositorio.
  - El pusheo de los cambios realizados.
  - La resolución de los ejercicios propuestos.

1. Reemplaza todos los valores del nombre por los que obtengas del método title(). De esta manera las listas quedaran con los datos más homogéneos.

In [17]:
estudiantes = []
estudiantes.extend(estudiantes_5c)
estudiantes.extend(estudiantes_5d)
for i in range(len(estudiantes)):
  nombre, division, fecha_nac = estudiantes[i]
  nombre = nombre.title()
  estudiantes[i] =  nombre, division, fecha_nac
for estudiante in estudiantes:
  print(estudiante)

('Abud Laspiur, Lourdes Mariel', 'C', '05/12/2006')
('Amador, Luana Micaela', 'C', '09/12/2006')
('Anaquin, Leonardo Ezequiel', 'C', '06/09/2005')
('Araoz Sanchez, Lautaro Nahuel', 'C', '28/12/2005')
('Argañaraz, Agostina Abril', 'C', '11/10/2006')
('Barrera, Matias Ezequiel', 'C', '27/02/2007')
('Barrozo Vedia, Joaquin Nicolas', 'C', '15/04/2006')
('Bettinelli, Valentino', 'C', '12/07/2006')
('Bracamonte Martinez, Salvador', 'C', '02/11/2005')
('Colque Rivero, Ariana Zoe Del Valle', 'C', '27/12/2006')
('Diaz, Dulce Maitena', 'C', '11/12/2006')
('Figueroa, Santino Josue', 'C', '12/05/2007')
('Flores Cardozo, Agustina Tiara', 'C', '18/03/2006')
('Gallo, Octavio Ismael', 'C', '04/08/2006')
('Galvan, Lourdes Yamila', 'C', '19/08/2005')
('Giangreco, Vitto Tomasso', 'C', '21/03/2007')
('Grancara, Martina Luna', 'C', '15/12/2006')
('Guanca, Sara Elizabeth', 'C', '17/01/2007')
('Lopez, Victoria Constanza', 'C', '12/11/2007')
('Mamani Garrido, Rosario Agostina', 'C', '24/10/2006')
('Marinaro, Martin Ezequiel', 'C', '03/11/2006')
('Merluzzi Dagum, Ignacio', 'C', '22/12/2005')
('Messina, Martina', 'C', '13/07/2005')
('Rasuk, Karim', 'C', '13/07/2007')
('Rios, Lucia Magali', 'C', '22/09/2006')
('Sanchez Flores, Matías Agustín', 'C', '15/02/2007')
('Scarano, Renato Marcelo', 'C', '06/12/2006')
('Sierra, Lucas Mauricio', 'C', '03/04/2005')
('Tapia, Martin Gabriel', 'C', '30/05/2006')
('Vilte, Mia Antonella Alondra', 'C', '10/09/2005')
('Virgillito, Katya Milena', 'C', '19/06/2007')
('Alurralde, Solange Stefania', 'D', '02/04/2007')
('Alvarado, Ludmila Del Milagro', 'D', '06/09/2006')
('Angel, Camila Juliana', 'D', '07/03/2007')
('Arenas, Lucas Gabriel', 'D', '26/06/2007')
('Caseres, Maria Antonia', 'D', '01/07/2006')
('Castillo, Paulina Milagros', 'D', '01/06/2007')
('Correa Segovia, Hugo Mariano', 'D', '04/12/2006')
('D Elia, Alvaro Tadeo', 'D', '27/08/2006')
('Flores, Victoria Agustina', 'D', '12/12/2006')
('Geronimo Soriano, Lizzie Amaya', 'D', '20/01/2007')
('Guzman, Angélica Morena', 'D', '11/04/2007')
('Guzman, Jazmin Esmeralda Belen', 'D', '31/07/2006')
('Jaime, Anita Maria Belen', 'D', '19/04/2007')
('Lacour Polo, Nazarena', 'D', '19/12/2005')
('Lascano Guanca, Marcelo Fabricio', 'D', '17/02/2006')
('Lezcano, Celia Morena', 'D', '01/07/2005')
('Martinez, Tomas Andres', 'D', '22/03/2007')
('Portella Valdivia, Pedro Francisco', 'D', '24/01/2007')
('Retamal Cisneros, Zacarias Josue', 'D', '24/02/2007')
('Rosales, Francisco Gabriel', 'D', '14/11/2006')
('Salem Barba, Mahia', 'D', '14/10/2005')
('Soto Camara, Agustin Ignacio', 'D', '07/11/2005')
('Villalba, Irina', 'D', '09/09/2006')
('Voltolini, Emanuel Tobias', 'D', '17/09/2006')
('Zalazar, Santino Stefano', 'D', '30/09/2006')

2. Genera una lista de diccionarios con los datos de las listas, donde las claves de los mismos serán:
- "apellido"
- "nombre"
- "curso"
- "division"
- "feha_de_nacimiento"

Muestra la información generada.

In [18]:
lista_diccionarios = []
for estudiante in estudiantes:
  un_estudiante = {}
  nombre_y_apellido, division, fecha_nac = estudiante
  apellido,nombre = nombre_y_apellido.split(",")
  nombre = nombre.lstrip()
  un_estudiante["apellido"] = apellido
  un_estudiante["nombre"] = nombre
  un_estudiante["curso"] = 5
  un_estudiante["division"] = division
  un_estudiante["feha_de_nacimiento"] = fecha_nac
  lista_diccionarios.append(un_estudiante)

for estudiante in lista_diccionarios:
  print(estudiante)

{'apellido': 'Abud Laspiur', 'nombre': 'Lourdes Mariel', 'curso': 5, 'division': 'C', 'feha_de_nacimiento': '05/12/2006'}
{'apellido': 'Amador', 'nombre': 'Luana Micaela', 'curso': 5, 'division': 'C', 'feha_de_nacimiento': '09/12/2006'}
{'apellido': 'Anaquin', 'nombre': 'Leonardo Ezequiel', 'curso': 5, 'division': 'C', 'feha_de_nacimiento': '06/09/2005'}
{'apellido': 'Araoz Sanchez', 'nombre': 'Lautaro Nahuel', 'curso': 5, 'division': 'C', 'feha_de_nacimiento': '28/12/2005'}
{'apellido': 'Argañaraz', 'nombre': 'Agostina Abril', 'curso': 5, 'division': 'C', 'feha_de_nacimiento': '11/10/2006'}
{'apellido': 'Barrera', 'nombre': 'Matias Ezequiel', 'curso': 5, 'division': 'C', 'feha_de_nacimiento': '27/02/2007'}
{'apellido': 'Barrozo Vedia', 'nombre': 'Joaquin Nicolas', 'curso': 5, 'division': 'C', 'feha_de_nacimiento': '15/04/2006'}
{'apellido': 'Bettinelli', 'nombre': 'Valentino', 'curso': 5, 'division': 'C', 'feha_de_nacimiento': '12/07/2006'}
{'apellido': 'Bracamonte Martinez', 'nombre': 'Salvador', 'curso': 5, 'division': 'C', 'feha_de_nacimiento': '02/11/2005'}
{'apellido': 'Colque Rivero', 'nombre': 'Ariana Zoe Del Valle', 'curso': 5, 'division': 'C', 'feha_de_nacimiento': '27/12/2006'}
{'apellido': 'Diaz', 'nombre': 'Dulce Maitena', 'curso': 5, 'division': 'C', 'feha_de_nacimiento': '11/12/2006'}
{'apellido': 'Figueroa', 'nombre': 'Santino Josue', 'curso': 5, 'division': 'C', 'feha_de_nacimiento': '12/05/2007'}
{'apellido': 'Flores Cardozo', 'nombre': 'Agustina Tiara', 'curso': 5, 'division': 'C', 'feha_de_nacimiento': '18/03/2006'}
{'apellido': 'Gallo', 'nombre': 'Octavio Ismael', 'curso': 5, 'division': 'C', 'feha_de_nacimiento': '04/08/2006'}
{'apellido': 'Galvan', 'nombre': 'Lourdes Yamila', 'curso': 5, 'division': 'C', 'feha_de_nacimiento': '19/08/2005'}
{'apellido': 'Giangreco', 'nombre': 'Vitto Tomasso', 'curso': 5, 'division': 'C', 'feha_de_nacimiento': '21/03/2007'}
{'apellido': 'Grancara', 'nombre': 'Martina Luna', 'curso': 5, 'division': 'C', 'feha_de_nacimiento': '15/12/2006'}
{'apellido': 'Guanca', 'nombre': 'Sara Elizabeth', 'curso': 5, 'division': 'C', 'feha_de_nacimiento': '17/01/2007'}
{'apellido': 'Lopez', 'nombre': 'Victoria Constanza', 'curso': 5, 'division': 'C', 'feha_de_nacimiento': '12/11/2007'}
{'apellido': 'Mamani Garrido', 'nombre': 'Rosario Agostina', 'curso': 5, 'division': 'C', 'feha_de_nacimiento': '24/10/2006'}
{'apellido': 'Marinaro', 'nombre': 'Martin Ezequiel', 'curso': 5, 'division': 'C', 'feha_de_nacimiento': '03/11/2006'}
{'apellido': 'Merluzzi Dagum', 'nombre': 'Ignacio', 'curso': 5, 'division': 'C', 'feha_de_nacimiento': '22/12/2005'}
{'apellido': 'Messina', 'nombre': 'Martina', 'curso': 5, 'division': 'C', 'feha_de_nacimiento': '13/07/2005'}
{'apellido': 'Rasuk', 'nombre': 'Karim', 'curso': 5, 'division': 'C', 'feha_de_nacimiento': '13/07/2007'}
{'apellido': 'Rios', 'nombre': 'Lucia Magali', 'curso': 5, 'division': 'C', 'feha_de_nacimiento': '22/09/2006'}
{'apellido': 'Sanchez Flores', 'nombre': 'Matías Agustín', 'curso': 5, 'division': 'C', 'feha_de_nacimiento': '15/02/2007'}
{'apellido': 'Scarano', 'nombre': 'Renato Marcelo', 'curso': 5, 'division': 'C', 'feha_de_nacimiento': '06/12/2006'}
{'apellido': 'Sierra', 'nombre': 'Lucas Mauricio', 'curso': 5, 'division': 'C', 'feha_de_nacimiento': '03/04/2005'}
{'apellido': 'Tapia', 'nombre': 'Martin Gabriel', 'curso': 5, 'division': 'C', 'feha_de_nacimiento': '30/05/2006'}
{'apellido': 'Vilte', 'nombre': 'Mia Antonella Alondra', 'curso': 5, 'division': 'C', 'feha_de_nacimiento': '10/09/2005'}
{'apellido': 'Virgillito', 'nombre': 'Katya Milena', 'curso': 5, 'division': 'C', 'feha_de_nacimiento': '19/06/2007'}
{'apellido': 'Alurralde', 'nombre': 'Solange Stefania', 'curso': 5, 'division': 'D', 'feha_de_nacimiento': '02/04/2007'}
{'apellido': 'Alvarado', 'nombre': 'Ludmila Del Milagro', 'curso': 5, 'division': 'D', 'feha_de_nacimiento': '06/09/2006'}
{'apellido': 'Angel', 'nombre': 'Camila Juliana', 'curso': 5, 'division': 'D', 'feha_de_nacimiento': '07/03/2007'}
{'apellido': 'Arenas', 'nombre': 'Lucas Gabriel', 'curso': 5, 'division': 'D', 'feha_de_nacimiento': '26/06/2007'}
{'apellido': 'Caseres', 'nombre': 'Maria Antonia', 'curso': 5, 'division': 'D', 'feha_de_nacimiento': '01/07/2006'}
{'apellido': 'Castillo', 'nombre': 'Paulina Milagros', 'curso': 5, 'division': 'D', 'feha_de_nacimiento': '01/06/2007'}
{'apellido': 'Correa Segovia', 'nombre': 'Hugo Mariano', 'curso': 5, 'division': 'D', 'feha_de_nacimiento': '04/12/2006'}
{'apellido': 'D Elia', 'nombre': 'Alvaro Tadeo', 'curso': 5, 'division': 'D', 'feha_de_nacimiento': '27/08/2006'}
{'apellido': 'Flores', 'nombre': 'Victoria Agustina', 'curso': 5, 'division': 'D', 'feha_de_nacimiento': '12/12/2006'}
{'apellido': 'Geronimo Soriano', 'nombre': 'Lizzie Amaya', 'curso': 5, 'division': 'D', 'feha_de_nacimiento': '20/01/2007'}
{'apellido': 'Guzman', 'nombre': 'Angélica Morena', 'curso': 5, 'division': 'D', 'feha_de_nacimiento': '11/04/2007'}
{'apellido': 'Guzman', 'nombre': 'Jazmin Esmeralda Belen', 'curso': 5, 'division': 'D', 'feha_de_nacimiento': '31/07/2006'}
{'apellido': 'Jaime', 'nombre': 'Anita Maria Belen', 'curso': 5, 'division': 'D', 'feha_de_nacimiento': '19/04/2007'}
{'apellido': 'Lacour Polo', 'nombre': 'Nazarena', 'curso': 5, 'division': 'D', 'feha_de_nacimiento': '19/12/2005'}
{'apellido': 'Lascano Guanca', 'nombre': 'Marcelo Fabricio', 'curso': 5, 'division': 'D', 'feha_de_nacimiento': '17/02/2006'}
{'apellido': 'Lezcano', 'nombre': 'Celia Morena', 'curso': 5, 'division': 'D', 'feha_de_nacimiento': '01/07/2005'}
{'apellido': 'Martinez', 'nombre': 'Tomas Andres', 'curso': 5, 'division': 'D', 'feha_de_nacimiento': '22/03/2007'}
{'apellido': 'Portella Valdivia', 'nombre': 'Pedro Francisco', 'curso': 5, 'division': 'D', 'feha_de_nacimiento': '24/01/2007'}
{'apellido': 'Retamal Cisneros', 'nombre': 'Zacarias Josue', 'curso': 5, 'division': 'D', 'feha_de_nacimiento': '24/02/2007'}
{'apellido': 'Rosales', 'nombre': 'Francisco Gabriel', 'curso': 5, 'division': 'D', 'feha_de_nacimiento': '14/11/2006'}
{'apellido': 'Salem Barba', 'nombre': 'Mahia', 'curso': 5, 'division': 'D', 'feha_de_nacimiento': '14/10/2005'}
{'apellido': 'Soto Camara', 'nombre': 'Agustin Ignacio', 'curso': 5, 'division': 'D', 'feha_de_nacimiento': '07/11/2005'}
{'apellido': 'Villalba', 'nombre': 'Irina', 'curso': 5, 'division': 'D', 'feha_de_nacimiento': '09/09/2006'}
{'apellido': 'Voltolini', 'nombre': 'Emanuel Tobias', 'curso': 5, 'division': 'D', 'feha_de_nacimiento': '17/09/2006'}
{'apellido': 'Zalazar', 'nombre': 'Santino Stefano', 'curso': 5, 'division': 'D', 'feha_de_nacimiento': '30/09/2006'}

3. Genera un diccionario en python, en donde la clave sea cada nombre que aparece en las listas y el valor será la cantidad de veces que se encuentra el mismo.
Para este punto es posible fusionar ambas listas en una sola, recordá que hay un método que realiza esta acción.

Mostrá la informacion generada

In [19]:
nombres = {}
for estudiante in estudiantes:
  nombre, division, fecha_nac = estudiante
  lista_nombres = nombre.replace(",","").split()
  for un_nombre in lista_nombres:
    if un_nombre in nombres.keys():
      nombres[un_nombre] += 1
    else:
      nombres[un_nombre] = 1
for  nombre,veces in nombres.items():
  print(f"El nombre {nombre} apareció {veces} veces")

El nombre Abud apareció 1 veces
El nombre Laspiur apareció 1 veces
El nombre Lourdes apareció 2 veces
El nombre Mariel apareció 1 veces
El nombre Amador apareció 1 veces
El nombre Luana apareció 1 veces
El nombre Micaela apareció 1 veces
El nombre Anaquin apareció 1 veces
El nombre Leonardo apareció 1 veces
El nombre Ezequiel apareció 3 veces
El nombre Araoz apareció 1 veces
El nombre Sanchez apareció 2 veces
El nombre Lautaro apareció 1 veces
El nombre Nahuel apareció 1 veces
El nombre Argañaraz apareció 1 veces
El nombre Agostina apareció 2 veces
El nombre Abril apareció 1 veces
El nombre Barrera apareció 1 veces
El nombre Matias apareció 1 veces
El nombre Barrozo apareció 1 veces
El nombre Vedia apareció 1 veces
El nombre Joaquin apareció 1 veces
El nombre Nicolas apareció 1 veces
El nombre Bettinelli apareció 1 veces
El nombre Valentino apareció 1 veces
El nombre Bracamonte apareció 1 veces
El nombre Martinez apareció 2 veces
El nombre Salvador apareció 1 veces
El nombre Colque apareció 1 veces
El nombre Rivero apareció 1 veces
El nombre Ariana apareció 1 veces
El nombre Zoe apareció 1 veces
El nombre Del apareció 2 veces
El nombre Valle apareció 1 veces
El nombre Diaz apareció 1 veces
El nombre Dulce apareció 1 veces
El nombre Maitena apareció 1 veces
El nombre Figueroa apareció 1 veces
El nombre Santino apareció 2 veces
El nombre Josue apareció 2 veces
El nombre Flores apareció 3 veces
El nombre Cardozo apareció 1 veces
El nombre Agustina apareció 2 veces
El nombre Tiara apareció 1 veces
El nombre Gallo apareció 1 veces
El nombre Octavio apareció 1 veces
El nombre Ismael apareció 1 veces
El nombre Galvan apareció 1 veces
El nombre Yamila apareció 1 veces
El nombre Giangreco apareció 1 veces
El nombre Vitto apareció 1 veces
El nombre Tomasso apareció 1 veces
El nombre Grancara apareció 1 veces
El nombre Martina apareció 2 veces
El nombre Luna apareció 1 veces
El nombre Guanca apareció 2 veces
El nombre Sara apareció 1 veces
El nombre Elizabeth apareció 1 veces
El nombre Lopez apareció 1 veces
El nombre Victoria apareció 2 veces
El nombre Constanza apareció 1 veces
El nombre Mamani apareció 1 veces
El nombre Garrido apareció 1 veces
El nombre Rosario apareció 1 veces
El nombre Marinaro apareció 1 veces
El nombre Martin apareció 2 veces
El nombre Merluzzi apareció 1 veces
El nombre Dagum apareció 1 veces
El nombre Ignacio apareció 2 veces
El nombre Messina apareció 1 veces
El nombre Rasuk apareció 1 veces
El nombre Karim apareció 1 veces
El nombre Rios apareció 1 veces
El nombre Lucia apareció 1 veces
El nombre Magali apareció 1 veces
El nombre Matías apareció 1 veces
El nombre Agustín apareció 1 veces
El nombre Scarano apareció 1 veces
El nombre Renato apareció 1 veces
El nombre Marcelo apareció 2 veces
El nombre Sierra apareció 1 veces
El nombre Lucas apareció 2 veces
El nombre Mauricio apareció 1 veces
El nombre Tapia apareció 1 veces
El nombre Gabriel apareció 3 veces
El nombre Vilte apareció 1 veces
El nombre Mia apareció 1 veces
El nombre Antonella apareció 1 veces
El nombre Alondra apareció 1 veces
El nombre Virgillito apareció 1 veces
El nombre Katya apareció 1 veces
El nombre Milena apareció 1 veces
El nombre Alurralde apareció 1 veces
El nombre Solange apareció 1 veces
El nombre Stefania apareció 1 veces
El nombre Alvarado apareció 1 veces
El nombre Ludmila apareció 1 veces
El nombre Milagro apareció 1 veces
El nombre Angel apareció 1 veces
El nombre Camila apareció 1 veces
El nombre Juliana apareció 1 veces
El nombre Arenas apareció 1 veces
El nombre Caseres apareció 1 veces
El nombre Maria apareció 2 veces
El nombre Antonia apareció 1 veces
El nombre Castillo apareció 1 veces
El nombre Paulina apareció 1 veces
El nombre Milagros apareció 1 veces
El nombre Correa apareció 1 veces
El nombre Segovia apareció 1 veces
El nombre Hugo apareció 1 veces
El nombre Mariano apareció 1 veces
El nombre D apareció 1 veces
El nombre Elia apareció 1 veces
El nombre Alvaro apareció 1 veces
El nombre Tadeo apareció 1 veces
El nombre Geronimo apareció 1 veces
El nombre Soriano apareció 1 veces
El nombre Lizzie apareció 1 veces
El nombre Amaya apareció 1 veces
El nombre Guzman apareció 2 veces
El nombre Angélica apareció 1 veces
El nombre Morena apareció 2 veces
El nombre Jazmin apareció 1 veces
El nombre Esmeralda apareció 1 veces
El nombre Belen apareció 2 veces
El nombre Jaime apareció 1 veces
El nombre Anita apareció 1 veces
El nombre Lacour apareció 1 veces
El nombre Polo apareció 1 veces
El nombre Nazarena apareció 1 veces
El nombre Lascano apareció 1 veces
El nombre Fabricio apareció 1 veces
El nombre Lezcano apareció 1 veces
El nombre Celia apareció 1 veces
El nombre Tomas apareció 1 veces
El nombre Andres apareció 1 veces
El nombre Portella apareció 1 veces
El nombre Valdivia apareció 1 veces
El nombre Pedro apareció 1 veces
El nombre Francisco apareció 2 veces
El nombre Retamal apareció 1 veces
El nombre Cisneros apareció 1 veces
El nombre Zacarias apareció 1 veces
El nombre Rosales apareció 1 veces
El nombre Salem apareció 1 veces
El nombre Barba apareció 1 veces
El nombre Mahia apareció 1 veces
El nombre Soto apareció 1 veces
El nombre Camara apareció 1 veces
El nombre Agustin apareció 1 veces
El nombre Villalba apareció 1 veces
El nombre Irina apareció 1 veces
El nombre Voltolini apareció 1 veces
El nombre Emanuel apareció 1 veces
El nombre Tobias apareció 1 veces
El nombre Zalazar apareció 1 veces
El nombre Stefano apareció 1 veces

4. Genera un diccionario en python, en donde la clave sea cada apellido que aparece en las listas y el valor será la cantidad de veces que se encuentra el mismo.
Para este punto es posible fusionar ambas listas en una sola, recordá que hay un método que realiza esta acción.

In [26]:
dic_estudiantes = {}
for i in estudiantes_5d:
  if i[2] in dic_estudiantes:
    dic_estudiantes[i[2]] += 1
  else:
    dic_estudiantes[i[2]] = 1

for i in estudiantes_5c:
  if i[2] in dic_estudiantes:
    dic_estudiantes[i[2]] += 1
  else:
    dic_estudiantes[i[2]] = 1

for i in dic_estudiantes:
  print(i, dic_estudiantes[i])

02/04/2007 1
06/09/2006 1
07/03/2007 1
26/06/2007 1
01/07/2006 1
01/06/2007 1
04/12/2006 1
27/08/2006 1
12/12/2006 1
20/01/2007 1
11/04/2007 1
31/07/2006 1
19/04/2007 1
19/12/2005 1
17/02/2006 1
01/07/2005 1
22/03/2007 1
24/01/2007 1
24/02/2007 1
14/11/2006 1
14/10/2005 1
07/11/2005 1
09/09/2006 1
17/09/2006 1
30/09/2006 1
05/12/2006 1
09/12/2006 1
06/09/2005 1
28/12/2005 1
11/10/2006 1
27/02/2007 1
15/04/2006 1
12/07/2006 1
02/11/2005 1
27/12/2006 1
11/12/2006 1
12/05/2007 1
18/03/2006 1
04/08/2006 1
19/08/2005 1
21/03/2007 1
15/12/2006 1
17/01/2007 1
12/11/2007 1
24/10/2006 1
03/11/2006 1
22/12/2005 1
13/07/2005 1
13/07/2007 1
22/09/2006 1
15/02/2007 1
06/12/2006 1
03/04/2005 1
30/05/2006 1
10/09/2005 1
19/06/2007 1

5. Solicita al usuario que ingrese un apellido y muestra  a todos los estudiantes con ese apellido.

In [54]:
apellido = input("Ingrese un apellido: ").title()
for i in estudiantes_5d:
  if apellido in i[0]:
    print(i)

for i in estudiantes_5c:
  if apellido in i[0]:
    print(i)

Ingrese un apellido: caseres
('Caseres, Maria Antonia', 'D', '01/07/2006')

6. Solicita al usuario que ingrese un nombre y muestra a todos los estudiantes con el nombre ingresado.

In [55]:
nombre = input("Ingrese un nombre: ").title()
for i in estudiantes_5d:
  if nombre in i[1]:
    print(i)

for i in estudiantes_5c:
  if nombre in i[1]:
    print(i)

Ingrese un nombre: maria

7. Busca el diccionario con tu información dentro de la lista y cámbiate de división, de tal manera que si estas en 5C, con el cambio quedes en 5D y viceversa.

In [63]:
nombre = input("Ingrese su nombre: ").title()
for i in estudiantes_5d:
  if nombre in i[2]:
    i.update({'division': 'C'})
    i.update({'curso': '5C'})
    print(i)

for i in estudiantes_5c:
  if nombre in i[2]:
    i.update({'division': 'D'})
    i.update({'curso': '5D'})
    print(i)

Ingrese su nombre: maria

8. Ordenar la lista alfabeticamente por nombre. Ascendente y descendentemente. Para elegir como ordenarla, mostrar un menú donde el usuario podrá decidir como quiere ver la salida.

In [64]:
print("""
1. Ordenar alfabeticamente por nombre de manera ascendente
2. Ordenar alfabeticamente por nombre de manera descendente
""")
opcion = int(input("Ingrese una opcion: "))
if opcion == 1:
  estudiantes_5d.sort(key=lambda x: x[2])
else:
  estudiantes_5d.sort(key=lambda x: x[2], reverse=True)

if opcion == 1:
  estudiantes_5c.sort(key=lambda x: x[2])
else:
  estudiantes_5c.sort(key=lambda x: x[2], reverse=True)


print("""
1. Salida en lista
2. Salida en diccionario
""")
opcion_b = int(input("Ingrese una opcion: "))
if opcion_b == 1:
  print("Estudiantes 5D:", [estudiante[2] for estudiante in estudiantes_5d])
  print("Estudiantes 5C:", [estudiante[2] for estudiante in estudiantes_5c])
else:
  for estudiante in estudiantes_5d:
    print(estudiante)
  for estudiante in estudiantes_5c:
    print(estudiante)

1. Ordenar alfabeticamente por nombre de manera ascendente
2. Ordenar alfabeticamente por nombre de manera descendente

Ingrese una opcion: 1

1. Salida en lista
2. Salida en diccionario

Ingrese una opcion: 2
('Castillo, Paulina Milagros', 'D', '01/06/2007')
('Lezcano, Celia Morena', 'D', '01/07/2005')
('Caseres, Maria Antonia', 'D', '01/07/2006')
('Alurralde, Solange Stefania', 'D', '02/04/2007')
('Correa Segovia, Hugo Mariano', 'D', '04/12/2006')
('Alvarado, Ludmila Del Milagro', 'D', '06/09/2006')
('Angel, Camila Juliana', 'D', '07/03/2007')
('Soto Camara, Agustin Ignacio', 'D', '07/11/2005')
('Villalba, Irina', 'D', '09/09/2006')
('GUZMAN, ANGÉLICA MORENA', 'D', '11/04/2007')
('Flores, Victoria Agustina', 'D', '12/12/2006')
('Salem Barba, Mahia', 'D', '14/10/2005')
('Rosales, Francisco Gabriel', 'D', '14/11/2006')
('Lascano Guanca, Marcelo Fabricio', 'D', '17/02/2006')
('Voltolini, Emanuel Tobias', 'D', '17/09/2006')
('Jaime, Anita Maria Belen', 'D', '19/04/2007')
('Lacour Polo, Nazarena', 'D', '19/12/2005')
('Geronimo Soriano, Lizzie Amaya', 'D', '20/01/2007')
('Martinez, Tomas Andres', 'D', '22/03/2007')
('PORTELLA VALDIVIA, PEDRO FRANCISCO', 'D', '24/01/2007')
('Retamal Cisneros, Zacarias Josue', 'D', '24/02/2007')
('Arenas, Lucas Gabriel', 'D', '26/06/2007')
('D Elia, Alvaro Tadeo', 'D', '27/08/2006')
('Zalazar, Santino Stefano', 'D', '30/09/2006')
('Guzman, Jazmin Esmeralda Belen', 'D', '31/07/2006')
('Bracamonte Martinez, Salvador', 'C', '02/11/2005')
('Sierra, Lucas Mauricio', 'C', '03/04/2005')
('Marinaro, Martin Ezequiel', 'C', '03/11/2006')
('Gallo, Octavio Ismael', 'C', '04/08/2006')
('ABUD LASPIUR, LOURDES MARIEL', 'C', '05/12/2006')
('Anaquin, Leonardo Ezequiel', 'C', '06/09/2005')
('Scarano, Renato Marcelo', 'C', '06/12/2006')
('Amador, Luana Micaela', 'C', '09/12/2006')
('Vilte, Mia Antonella Alondra', 'C', '10/09/2005')
('Argañaraz, Agostina Abril', 'C', '11/10/2006')
('Diaz, Dulce Maitena', 'C', '11/12/2006')
('FIGUEROA, SANTINO JOSUE', 'C', '12/05/2007')
('Bettinelli, Valentino', 'C', '12/07/2006')
('Lopez, Victoria Constanza', 'C', '12/11/2007')
('Messina, Martina', 'C', '13/07/2005')
('RASUK, KARIM', 'C', '13/07/2007')
('Sanchez Flores, Matías Agustín', 'C', '15/02/2007')
('Barrozo Vedia, Joaquin Nicolas', 'C', '15/04/2006')
('Grancara, Martina Luna', 'C', '15/12/2006')
('Guanca, Sara Elizabeth', 'C', '17/01/2007')
('Flores Cardozo, Agustina Tiara', 'C', '18/03/2006')
('Virgillito, Katya Milena', 'C', '19/06/2007')
('Galvan, Lourdes Yamila', 'C', '19/08/2005')
('Giangreco, Vitto Tomasso', 'C', '21/03/2007')
('Rios, Lucia Magali', 'C', '22/09/2006')
('Merluzzi Dagum, Ignacio', 'C', '22/12/2005')
('Mamani Garrido, Rosario Agostina', 'C', '24/10/2006')
('Barrera, Matias Ezequiel', 'C', '27/02/2007')
('Colque Rivero, Ariana Zoe Del Valle', 'C', '27/12/2006')
('Araoz Sanchez, Lautaro Nahuel', 'C', '28/12/2005')
('Tapia, Martin Gabriel', 'C', '30/05/2006')

9. Ordenar la lista alfabeticamente por apellido. Ascendente y descendentemente. Para elegir como ordenarla, mostrar un menú donde el usuario podrá decidir como quiere ver la salida.

In [65]:
print("""
1. Ordenar alfabeticamente por apellido de manera ascendente
2. Ordenar alfabeticamente por apellido de manera descendente
""")
opcion = int(input("Ingrese una opcion: "))
if opcion == 1:
  estudiantes_5d.sort(key=lambda x: x[0])
else:
  estudiantes_5d.sort(key=lambda x: x[0], reverse=True)

if opcion == 1:
  estudiantes_5c.sort(key=lambda x: x[0])
else:
  estudiantes_5c.sort(key=lambda x: x[0], reverse=True)

print("""
1. Salida en lista
2. Salida en diccionario
""")
opcion_b = int(input("Ingrese una opcion: "))
if opcion_b == 1:
  print("Estudiantes 5D:", [estudiante[0] for estudiante in estudiantes_5d])
  print("Estudiantes 5C:", [estudiante[0] for estudiante in estudiantes_5c])
else:
  for estudiante in estudiantes_5d:
    print(estudiante)
  for estudiante in estudiantes_5c:
    print(estudiante)

1. Ordenar alfabeticamente por apellido de manera ascendente
2. Ordenar alfabeticamente por apellido de manera descendente

Ingrese una opcion: 2

1. Salida en lista
2. Salida en diccionario

Ingrese una opcion: 1
Estudiantes 5D: ['Zalazar, Santino Stefano', 'Voltolini, Emanuel Tobias', 'Villalba, Irina', 'Soto Camara, Agustin Ignacio', 'Salem Barba, Mahia', 'Rosales, Francisco Gabriel', 'Retamal Cisneros, Zacarias Josue', 'PORTELLA VALDIVIA, PEDRO FRANCISCO', 'Martinez, Tomas Andres', 'Lezcano, Celia Morena', 'Lascano Guanca, Marcelo Fabricio', 'Lacour Polo, Nazarena', 'Jaime, Anita Maria Belen', 'Guzman, Jazmin Esmeralda Belen', 'Geronimo Soriano, Lizzie Amaya', 'GUZMAN, ANGÉLICA MORENA', 'Flores, Victoria Agustina', 'D Elia, Alvaro Tadeo', 'Correa Segovia, Hugo Mariano', 'Castillo, Paulina Milagros', 'Caseres, Maria Antonia', 'Arenas, Lucas Gabriel', 'Angel, Camila Juliana', 'Alvarado, Ludmila Del Milagro', 'Alurralde, Solange Stefania']
Estudiantes 5C: ['Virgillito, Katya Milena', 'Vilte, Mia Antonella Alondra', 'Tapia, Martin Gabriel', 'Sierra, Lucas Mauricio', 'Scarano, Renato Marcelo', 'Sanchez Flores, Matías Agustín', 'Rios, Lucia Magali', 'RASUK, KARIM', 'Messina, Martina', 'Merluzzi Dagum, Ignacio', 'Marinaro, Martin Ezequiel', 'Mamani Garrido, Rosario Agostina', 'Lopez, Victoria Constanza', 'Guanca, Sara Elizabeth', 'Grancara, Martina Luna', 'Giangreco, Vitto Tomasso', 'Galvan, Lourdes Yamila', 'Gallo, Octavio Ismael', 'Flores Cardozo, Agustina Tiara', 'FIGUEROA, SANTINO JOSUE', 'Diaz, Dulce Maitena', 'Colque Rivero, Ariana Zoe Del Valle', 'Bracamonte Martinez, Salvador', 'Bettinelli, Valentino', 'Barrozo Vedia, Joaquin Nicolas', 'Barrera, Matias Ezequiel', 'Argañaraz, Agostina Abril', 'Araoz Sanchez, Lautaro Nahuel', 'Anaquin, Leonardo Ezequiel', 'Amador, Luana Micaela', 'ABUD LASPIUR, LOURDES MARIEL']

10. Ordena la lista por fecha de nacimiento, de manera ascendente y descendente.

In [71]:
print("""
1. Ordenar por fecha de nacimiento de manera ascendente
2. Ordenar por fecha de nacimiento de manera descendente
""")
opcion = int(input("Ingrese una opcion: "))
if opcion == 1:
  estudiantes_5d.sort(key=lambda x: x[2])
else:
  estudiantes_5d.sort(key=lambda x: x[2], reverse=True)

if opcion == 1:
  estudiantes_5c.sort(key=lambda x: x[2])
else:
  estudiantes_5c.sort(key=lambda x: x[2], reverse=True)

print("""
1. Salida en lista
2. Salida en diccionario
""")

opcion_b = int(input("Ingrese una opcion: "))
if opcion_b == 1:
  print("Estudiantes 5D:", [estudiante[2] for estudiante in estudiantes_5d])
  print("Estudiantes 5C:", [estudiante[2] for estudiante in estudiantes_5c])
else:
  for estudiante in estudiantes_5d:
    print(estudiante)
  for estudiante in estudiantes_5c:
    print(estudiante)

1. Ordenar por fecha de nacimiento de manera ascendente
2. Ordenar por fecha de nacimiento de manera descendente

Ingrese una opcion: 1

1. Salida en lista
2. Salida en diccionario

Ingrese una opcion: 1
Estudiantes 5D: ['01/06/2007', '01/07/2005', '01/07/2006', '02/04/2007', '04/12/2006', '06/09/2006', '07/03/2007', '07/11/2005', '09/09/2006', '11/04/2007', '12/12/2006', '14/10/2005', '14/11/2006', '17/02/2006', '17/09/2006', '19/04/2007', '19/12/2005', '20/01/2007', '22/03/2007', '24/01/2007', '24/02/2007', '26/06/2007', '27/08/2006', '30/09/2006', '31/07/2006']
Estudiantes 5C: ['02/11/2005', '03/04/2005', '03/11/2006', '04/08/2006', '05/12/2006', '06/09/2005', '06/12/2006', '09/12/2006', '10/09/2005', '11/10/2006', '11/12/2006', '12/05/2007', '12/07/2006', '12/11/2007', '13/07/2005', '13/07/2007', '15/02/2007', '15/04/2006', '15/12/2006', '17/01/2007', '18/03/2006', '19/06/2007', '19/08/2005', '21/03/2007', '22/09/2006', '22/12/2005', '24/10/2006', '27/02/2007', '27/12/2006', '28/12/2005', '30/05/2006']

11. Generar una estuctura de diccionario anidado en donde la clave sea el nombre del estudiante y el valor sea un diccionario con los datos del mismo, de la siguiente manera:




```python
estudiantes = {
    "Juan Perez": {
        "año": 2024,
        "división": "5D",
        "fecha de nacimiento": "15/03/2006"
    },
    "Maria Gomez": {
        "año": 2024,
        "división": "5D",
        "fecha de nacimiento": "22/07/2006"
    },
    "Carlos Lopez": {
        "año": 2024,
        "división": "5D",
        "fecha de nacimiento": "05/10/2006"
    }
}
```

In [70]:
estudiantes_5d_01 = {}
for i in estudiantes_5d:
  estudiantes_5d_01[i[0]] = {
      'año': 2024,
      'división': i[1],
      'fecha de nacimiento': i[2]
  }

for i in estudiantes_5d_01:
  print(i, estudiantes_5d_01[i])

estudiantes_5c_01 = {}
for i in estudiantes_5c:
  estudiantes_5c_01[i[0]] = {
      'año': 2024,
      'división': i[1],
      'fecha de nacimiento': i[2]
  }

for i in estudiantes_5c_01:
  print(i, estudiantes_5c_01[i])

Zalazar, Santino Stefano {'año': 2024, 'división': 'D', 'fecha de nacimiento': '30/09/2006'}
Voltolini, Emanuel Tobias {'año': 2024, 'división': 'D', 'fecha de nacimiento': '17/09/2006'}
Villalba, Irina {'año': 2024, 'división': 'D', 'fecha de nacimiento': '09/09/2006'}
Soto Camara, Agustin Ignacio {'año': 2024, 'división': 'D', 'fecha de nacimiento': '07/11/2005'}
Salem Barba, Mahia {'año': 2024, 'división': 'D', 'fecha de nacimiento': '14/10/2005'}
Rosales, Francisco Gabriel {'año': 2024, 'división': 'D', 'fecha de nacimiento': '14/11/2006'}
Retamal Cisneros, Zacarias Josue {'año': 2024, 'división': 'D', 'fecha de nacimiento': '24/02/2007'}
PORTELLA VALDIVIA, PEDRO FRANCISCO {'año': 2024, 'división': 'D', 'fecha de nacimiento': '24/01/2007'}
Martinez, Tomas Andres {'año': 2024, 'división': 'D', 'fecha de nacimiento': '22/03/2007'}
Lezcano, Celia Morena {'año': 2024, 'división': 'D', 'fecha de nacimiento': '01/07/2005'}
Lascano Guanca, Marcelo Fabricio {'año': 2024, 'división': 'D', 'fecha de nacimiento': '17/02/2006'}
Lacour Polo, Nazarena {'año': 2024, 'división': 'D', 'fecha de nacimiento': '19/12/2005'}
Jaime, Anita Maria Belen {'año': 2024, 'división': 'D', 'fecha de nacimiento': '19/04/2007'}
Guzman, Jazmin Esmeralda Belen {'año': 2024, 'división': 'D', 'fecha de nacimiento': '31/07/2006'}
Geronimo Soriano, Lizzie Amaya {'año': 2024, 'división': 'D', 'fecha de nacimiento': '20/01/2007'}
GUZMAN, ANGÉLICA MORENA {'año': 2024, 'división': 'D', 'fecha de nacimiento': '11/04/2007'}
Flores, Victoria Agustina {'año': 2024, 'división': 'D', 'fecha de nacimiento': '12/12/2006'}
D Elia, Alvaro Tadeo {'año': 2024, 'división': 'D', 'fecha de nacimiento': '27/08/2006'}
Correa Segovia, Hugo Mariano {'año': 2024, 'división': 'D', 'fecha de nacimiento': '04/12/2006'}
Castillo, Paulina Milagros {'año': 2024, 'división': 'D', 'fecha de nacimiento': '01/06/2007'}
Caseres, Maria Antonia {'año': 2024, 'división': 'D', 'fecha de nacimiento': '01/07/2006'}
Arenas, Lucas Gabriel {'año': 2024, 'división': 'D', 'fecha de nacimiento': '26/06/2007'}
Angel, Camila Juliana {'año': 2024, 'división': 'D', 'fecha de nacimiento': '07/03/2007'}
Alvarado, Ludmila Del Milagro {'año': 2024, 'división': 'D', 'fecha de nacimiento': '06/09/2006'}
Alurralde, Solange Stefania {'año': 2024, 'división': 'D', 'fecha de nacimiento': '02/04/2007'}
Virgillito, Katya Milena {'año': 2024, 'división': 'C', 'fecha de nacimiento': '19/06/2007'}
Vilte, Mia Antonella Alondra {'año': 2024, 'división': 'C', 'fecha de nacimiento': '10/09/2005'}
Tapia, Martin Gabriel {'año': 2024, 'división': 'C', 'fecha de nacimiento': '30/05/2006'}
Sierra, Lucas Mauricio {'año': 2024, 'división': 'C', 'fecha de nacimiento': '03/04/2005'}
Scarano, Renato Marcelo {'año': 2024, 'división': 'C', 'fecha de nacimiento': '06/12/2006'}
Sanchez Flores, Matías Agustín {'año': 2024, 'división': 'C', 'fecha de nacimiento': '15/02/2007'}
Rios, Lucia Magali {'año': 2024, 'división': 'C', 'fecha de nacimiento': '22/09/2006'}
RASUK, KARIM {'año': 2024, 'división': 'C', 'fecha de nacimiento': '13/07/2007'}
Messina, Martina {'año': 2024, 'división': 'C', 'fecha de nacimiento': '13/07/2005'}
Merluzzi Dagum, Ignacio {'año': 2024, 'división': 'C', 'fecha de nacimiento': '22/12/2005'}
Marinaro, Martin Ezequiel {'año': 2024, 'división': 'C', 'fecha de nacimiento': '03/11/2006'}
Mamani Garrido, Rosario Agostina {'año': 2024, 'división': 'C', 'fecha de nacimiento': '24/10/2006'}
Lopez, Victoria Constanza {'año': 2024, 'división': 'C', 'fecha de nacimiento': '12/11/2007'}
Guanca, Sara Elizabeth {'año': 2024, 'división': 'C', 'fecha de nacimiento': '17/01/2007'}
Grancara, Martina Luna {'año': 2024, 'división': 'C', 'fecha de nacimiento': '15/12/2006'}
Giangreco, Vitto Tomasso {'año': 2024, 'división': 'C', 'fecha de nacimiento': '21/03/2007'}
Galvan, Lourdes Yamila {'año': 2024, 'división': 'C', 'fecha de nacimiento': '19/08/2005'}
Gallo, Octavio Ismael {'año': 2024, 'división': 'C', 'fecha de nacimiento': '04/08/2006'}
Flores Cardozo, Agustina Tiara {'año': 2024, 'división': 'C', 'fecha de nacimiento': '18/03/2006'}
FIGUEROA, SANTINO JOSUE {'año': 2024, 'división': 'C', 'fecha de nacimiento': '12/05/2007'}
Diaz, Dulce Maitena {'año': 2024, 'división': 'C', 'fecha de nacimiento': '11/12/2006'}
Colque Rivero, Ariana Zoe Del Valle {'año': 2024, 'división': 'C', 'fecha de nacimiento': '27/12/2006'}
Bracamonte Martinez, Salvador {'año': 2024, 'división': 'C', 'fecha de nacimiento': '02/11/2005'}
Bettinelli, Valentino {'año': 2024, 'división': 'C', 'fecha de nacimiento': '12/07/2006'}
Barrozo Vedia, Joaquin Nicolas {'año': 2024, 'división': 'C', 'fecha de nacimiento': '15/04/2006'}
Barrera, Matias Ezequiel {'año': 2024, 'división': 'C', 'fecha de nacimiento': '27/02/2007'}
Argañaraz, Agostina Abril {'año': 2024, 'división': 'C', 'fecha de nacimiento': '11/10/2006'}
Araoz Sanchez, Lautaro Nahuel {'año': 2024, 'división': 'C', 'fecha de nacimiento': '28/12/2005'}
Anaquin, Leonardo Ezequiel {'año': 2024, 'división': 'C', 'fecha de nacimiento': '06/09/2005'}
Amador, Luana Micaela {'año': 2024, 'división': 'C', 'fecha de nacimiento': '09/12/2006'}
ABUD LASPIUR, LOURDES MARIEL {'año': 2024, 'división': 'C', 'fecha de nacimiento': '05/12/2006'}